---
import { t } from '../utils/i18n';
const { talents, locale } = Astro.props;
---

<div class="card">
  <h2>{t(locale, 'ui', 'Talents')}</h2>

  {
    talents.talents.map((talent: { items: any[] }, i: number) => (
      <div style="margin-bottom: 10px;">
        <div>
          <strong>{i + 1}.</strong>{' '}
          {talent.items[0] && <span>{talent.items[0].name}</span>}
        </div>

        {talent.items.slice(1).map((t) => (
          <div class="alt">≈ {t.name}</div>
        ))}
      </div>
    ))
  }
</div>
